
<html>
    <!--
    
    
    P r a x i s .
    
    
    -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>UNDREAM</title>	
        <meta property="og:url" content="http://machinu.net" />
        <meta property="og:title" content="UNDREAM" />
        <meta property="og:description" content="Praxis." />
        <meta property="og:image" content="http://undream.net/fbog.png" />
        <meta name="description" content="Praxis."> 
        <style>
            body{
                background-color:#000000;
            }
            #M{
                width: 32px;
                height: 32px;
                border-radius: 128px;
                border: solid 16px #ffffff;
                margin-top: -32px;
                margin-left: -32px;
                position: fixed;
                top: 50%;
                left: 50%;
            }
        </style>
    </head>
    <body>
        <a href="mailto:example@example.com"><div id="M"></div></a>
    </body>
    </html>